/* standard styling */
#body {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 1500px;
}

/* panels styling */
#picture-panel, #descriptions {
  width: 50%;
  display: inline-block;
}

#picture-panel {
  float: left;
  overflow: hidden;
}

#picture-panel img {
  object-fit: cover;
  height: 100%
}

#descriptions {
  float: right;
  overflow: auto;
}

/* descriptions styling */
.item {
  width: 100%;
  background: #FFF2DE;
  overflow: auto;
}

.container {
  margin-left: 30px;
  background-color: #FFF2DE;
  padding-top: 20px;
  padding-bottom: 20px;
}

.item h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  text-transform: uppercase;
  background: #FFF2DE;
  padding-right: 15px;
}

.item p {
  padding-top: 5px;
  padding-bottom: 13px;
  font-size: 0.9em;
  background: #FFF2DE;
  padding-right: 15px;
}

.item a {
  text-decoration: none;
  font-size: 0.9em;
  color: #337AB7;
  background: #FFF2DE;
  padding-right: 15px;
}

.active {
  background: #FFD696;
}

.active .container {
  background-color: #FFD696;
}

.active h1, .active p, .active a {
  background-color: #FFD696;
}