/* standard styling */
#body {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 1500px;
  padding: 45px;
}

@media screen and (max-width: 1580px) {
  #body {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  #body {
    max-width: 1000px;
    padding: 45px;
    padding-top: 20px;
  }
}

#body p {
  padding-bottom: 20px;
}